//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 20 23:40:11 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "SevenSegmentEnable<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "SevenSegmentEnable<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "CLK_100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "SevenSegmentEnable<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "Switch<0>" LOCATE = SITE "M18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "Switch<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "Switch<2>" LOCATE = SITE "M16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "Switch<3>" LOCATE = SITE "L17" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "Switch<4>" LOCATE = SITE "K17" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "Switch<5>" LOCATE = SITE "K18" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T18" LEVEL 1;
COMP "SevenSegment<0>" LOCATE = SITE "A5" LEVEL 1;
COMP "SevenSegment<1>" LOCATE = SITE "C6" LEVEL 1;
COMP "SevenSegment<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "SevenSegment<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "SevenSegment<4>" LOCATE = SITE "C4" LEVEL 1;
COMP "SevenSegment<5>" LOCATE = SITE "A4" LEVEL 1;
COMP "SevenSegment<6>" LOCATE = SITE "B4" LEVEL 1;
COMP "SevenSegment<7>" LOCATE = SITE "A3" LEVEL 1;
COMP "Rx" LOCATE = SITE "A8" LEVEL 1;
COMP "Tx" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP CLK_100MHz = BEL "hex_display/segments_enable_out_1" BEL
        "hex_display/segments_enable_out_0" BEL "hex_display/segments_out_4"
        BEL "hex_display/segments_out_2" BEL "hex_display/segments_out_1" BEL
        "hex_display/divider_15" BEL "hex_display/divider_14" BEL
        "hex_display/divider_13" BEL "hex_display/divider_12" BEL
        "hex_display/divider_11" BEL "hex_display/divider_10" BEL
        "hex_display/divider_9" BEL "hex_display/divider_8" BEL
        "hex_display/divider_7" BEL "hex_display/divider_6" BEL
        "hex_display/divider_5" BEL "hex_display/divider_4" BEL
        "hex_display/divider_3" BEL "hex_display/divider_2" BEL
        "hex_display/divider_1" BEL "hex_display/divider_0" BEL
        "CLK_100MHz_BUFGP/BUFG";
TS_CLOCK_100M = PERIOD TIMEGRP "CLK_100MHz" 100 MHz HIGH 50%;
SCHEMATIC END;

